<li class="flex items-center border-b hover:bg-zinc-800 border-gray-300 p-2" (click)="this.open()">
  @if(fileItem().type === EFileType.Directory){
    <span class="material-symbols-outlined w-6 h-6">
      folder
    </span>
  } @else if (fileItem().type === EFileType.Object){
    @if(this.contentType === EContentType.Audio){
      <span class="material-symbols-outlined">
        music_note
      </span>
    } @else if (this.contentType === EContentType.Text){
      <span class="material-symbols-outlined">
        text_snippet
      </span>
    } @else if (this.contentType === EContentType.Video){
      <span class="material-symbols-outlined">
        movie
      </span>
    } @else if (this.contentType === EContentType.Sheet){
      <span class="material-symbols-outlined">
        data_table
      </span>
    } @else if (this.contentType === EContentType.Pdf){
      <span class="material-symbols-outlined">
        picture_as_pdf
      </span>
    } @else if (this.contentType === EContentType.Image){
      <span class="material-symbols-outlined">
        image
      </span>
    } @else {
      <span class="material-symbols-outlined">
        data_object
      </span>
    }

  } @else {
    <span class="material-symbols-outlined">
      description
    </span>
  }
  <span class="ml-4 ps-3 flex-1 my-text">{{fileItem().name}}</span>
  @if (fileItem().type === EFileType.Object){
    <span class="w-16 text-center my-text mx-10">{{ fileItem().targetSize | storageSize }}</span>
    <span class="flex-1 my-text">{{fileItem().ownerProfile | nameParser}}</span>
  }@else{
    <span class="w-16 text-center mx-9"></span>
    <span class="flex-1 my-text">{{fileItem().ownerProfile | nameParser}}</span>
  }
  <p-button outlined (onClick)="clickMore($event)">
    <span class="material-symbols-outlined">
      more_vert
    </span>
  </p-button>
</li>
